/* Doppler Locator Admin CSS */
h1, h2, h3, h4, h5, h6 { font-family: 'Roboto'; }
.doppler-body { padding: 64px; }
.doppler-body a { text-decoration: none; color: inherit; }

/* Grid overrides */
.doppler-body .row [class*="col"]:first-of-type { padding-left: 0; }
.doppler-body .row [class*="col"]:last-of-type { padding-right: 0; }

/* Navigation */
.doppler-body .nav { padding-bottom: 36px; }
.doppler-body .nav .col-6-m { display: flex; align-items: center; }
.doppler-body .nav .col-6-m:last-of-type { justify-content: flex-end; }
.doppler-body .nav h1 { color: #333; font-size: 24px; }
.doppler-body .nav .btn { background-color: #0088FF; border-radius: 999px; box-shadow: 0 3px 6px rgba(0, 136, 255, 0.25); color: #fff; font-size: 16px; font-weight: bold; padding: 8px 24px; text-decoration: none; }

/* Container */
.doppler-body .container { background-color: #fff; padding: 16px; border-radius: 8px; }
.doppler-body .container label { color: #333; font-size: 16px; font-weight: bold; margin-bottom: 12px; display: inline-block; cursor: default }
.doppler-body .container label.small { color: #999; font-size: 12px; margin-bottom: 8px; }
.doppler-body .container .btn { background-color: #f1f1f1; border-radius: 8px; color: #333; display: block; font-size: 16px; font-weight: normal; padding: 8px 0; text-decoration: none; text-align: center; }

.doppler-body .container .locations .row { padding: 8px 12px; border: 2px solid #f1f1f1; border-radius: 8px; margin: 0 0 8px; font-size: 16px; align-items: center; }
.doppler-body .container .locations .row label { margin: 0 16px 0 0; }
.doppler-body .container .locations .row label.status { line-height: 12px; display: flex; }
.doppler-body .container .locations .row label.status:before { background-color: #f1f1f1; content: ''; display: inline-block; width: 12px; height: 12px; border-radius: 50%; margin-right: 12px; }
.doppler-body .container .locations .row label.status.open:before { background-color: #00D17D; }

/* Media Query */
@media (max-width: 768px) {
    .doppler-body { padding: 12px; }
}

/* Font Family */
@font-face { font-family: 'Roboto'; src: url('../fonts/Roboto-Regular.woff2') format('woff2'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Roboto'; src: url('../fonts/Roboto-Bold.woff2') format('woff2'); font-weight: bold; font-style: normal; }