/* Doppler Locations CSS */
body { margin: 0; }
body .doppler-locations .center { text-align: center; } 
body .doppler-locations .address li { margin: 0; display: inline-block; }
body .doppler-locations .hours ul li { margin: 0; display: flex; justify-content: space-between; }
body .doppler-locations .hours ul li span:first-of-type { text-transform: capitalize; font-weight: bold; }
body .doppler-locations .hours ul li span:first-of-type:after { content: '.'; }
body .doppler-locations ul { list-style: none; padding: 12px 0; margin: 0; }
body .doppler-locations ul li { margin: 0; }

/* Shortcode styling - list */
.doppler-list { list-style: none; padding: 0; margin: 0; }
.doppler-list li { margin: 0; padding: 0; }
.doppler-list li ul { list-style: none; margin: 0; padding: 0; }
.doppler-list li ul li { margin: 0; padding: 0; }
.doppler-list li > [aria-selected="false"] + ul { display: none; }